{% extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}

<div class="container">
    <h1 class="text-center">Lung Disease Detection</h1>
    <p>
        In this project, we used deep learning to detect lung disease using chest X-rays of a patient. It is a computer vision project which, more specifically, falls under medical imaging.
    </p>
    <p>
        You can use this website to upload your chest X-rays and get the prediction of the disease. Please go <a href="/">here</a> to use the app.
    </p>
    <p>
        We implemented the following models: <br>
        <ol>
            <li>MobileNet</li>
            <li>ResNet50</li>
            <li>InceptionNetV3</li>
            <li>InceptionResNetV2</li>
            <li>VGG16</li>
            <li>AlexNet</li>
        </ol>
    </p>
</div>

<div class="container">
    <b>Mentors:</b>
    <ul>
        <li>Pranav DV</li>
        <li>Sanjkeet</li>
        <li>Harshwardhan</li>
    </ul>
    <b>Team Members:</b>
    <ul>
        <li>Anirudh Prabhakaran</li>
        <li>Amandeep Singh</li>
        <li>Mohan Nayak</li>
        <li>Muthukumar</li>
    </ul>
</div>
{% endblock %}