{% extends 'base.html' %}

{% block title %}
Index
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}  
         {% if messages %} 
         <br><br><br>
            <div class="container"> 
               {% for message in messages %}  
                  <div class="alert alert-warning alert-dismissible" align="center">
                    <strong>Warning! </strong> {{message}}!
                    <a href="/" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  </div>
               {% endfor %}
            </div>
         {% endif %}  
      {% endwith %} 


    <title>Lung Disease Detection</title>
    <style>
      .checkboxHolder{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: flex-start;
        padding-left: 42%;
        font-size: 20px;
      }
      .checkbox-container{
        display: flex;
        align-items: center;
        margin-bottom: 1%;
      }
      .checkbox-container label{
        cursor: pointer;
        display: flex;
        align-items: center;
      }
      .checkbox-container input[type='checkbox']{
        cursor: pointer;
        opacity: 0;
        position: absolute;
      }
      .checkbox-container label::before{
        content: '';
        width: 1em;
        height: 1em;
        border-radius: 0.15em;
        margin-right: 0.5em;
        border: 0.05em solid black;
      }
      .checkbox-container label:hover::before, 
      .checkbox-container input[type='checkbox']:hover + label::before{
        background-color: #FFF56D;
      }

      .checkbox-container input[type='checkbox']:checked + label::before{
        content: '\002714';
        background-color: #FFD36E;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
      }
      .button-two{
        text-align: center;
        cursor: pointer;
        font-size:24px;
        margin: 0 0 0 0px;
      }
      .button-two {
  border-radius: 4px;
  background-color:#d35400;
  border: none;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
}


      .button-two span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }

      .button-two span:after {
        content: '»';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }

      .button-two:hover span {
        padding-right: 25px;
      }

      .button-two:hover span:after {
        opacity: 1;
        right: 0;
      }
      .sub-main{
        margin-bottom: 20px;
      }

      .i{
        display: flex;
        height: 100vh;
      }

      .i-left{
        flex:1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .i-right{
        flex:1;
      }
      .i-left-wrapper{
        padding:50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .i-intro{
        font-size: 30px;
        font-weight: 300;
      }
      .i-name{
        font-size: 60px;
      }

      .i-title{
        height: 50px;
        overflow: hidden;
      }

      .i-title-wrapper{
        height: 100%;
        animation: move 10s ease-in-out infinite alternate;
      }

      @keyframes move {

        25%{
          transform: translateY(-50px);
        }
        50%{
          transform: translateY(-100px);
        }
        75%{
          transform: translateY(-150px);
        }
        100%{
          transform: translateY(-200px);
        }
      }
      .i-title-item{
        height: 50px;
        font-size: 30px;
        font-weight: bold;
        color: #49b256;
        display: flex;
        align-items: center;
      }
      .i-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .text-center{
        margin-top: 120px;
      }
    </style>
  </head>
  <body>
    <div class="i">
      <div class="i-left">
        <div class="i-left-wrapper">
          <h3 class="i-name">IEEE NITK</h3>
          <h1 class="i-intro">Lung Disease Detection</h1>
          <div class="i-title">
            <div class="i-title-wrapper">
              <div class="i-title-item">
                Deep Learning
              </div>
              <div class="i-title-item">
                Convolution Neural Network
              </div>
              <div class="i-title-item">
                Transfer Learning
              </div>
            </div>
          </div>
          <div class="i-desc">
            In this project, we conducted a study and analyzed the data set, then applied Deep Learning using convolutional neural networks to predict whether the patient has a lung disease. This project is a binary classification with input as patient's data and output is whether diseases found or not. 
          </div>
        </div>
      </div>
      <div class="i-right">
        <img src="../static/Image.jpeg" class="i-img">
      </div>
    </div>
    <div class="text-center">
      <form class="inputForm" action = '/', method=post enctype=multipart/form-data>
        <h4>Upload new File</h4><br>
        <div class="container" align="center">
        <div class="upload" align="center">
          <input class="form-control" id="formFileLg" type=file name=file required><br>
          <!-- <input class="btn btn-primary mt-3" type=submit value="Submit"> -->
        </div></div><br><br><br>


        <h4>Select one or more models for prediction</h4>
        <div class="container" align="center">
        <div class="Models required" align="center" style="font-size: 20px;">
        </div>
        <div class="checkboxHolder">
          <div class="checkbox-container">
              <input type=checkbox name=model value='MobileNet' id="cb1">
              <label for="cb1">MobileNet</label>
            </div>
            <div class="checkbox-container">
              <input type=checkbox name=model value='ResNet50' id="cb2"> 
              <label for="cb2">ResNet50</label>
            </div>
            <div class="checkbox-container">
              <input type=checkbox name=model value='InceptionNetV3' id="cb3"> 
              <label for="cb3">InceptionNetV3</label>
            </div>
            <div class="checkbox-container">
              <input type=checkbox name=model value='InceptionResNetV2' id="cb4"> 
              <label for="cb4">InceptionResNetV2</label>
            </div>
            <div class="checkbox-container">
              <input type=checkbox name=model value='VGG16' id="cb5"> 
              <label for="cb5">VGG16</label>
            </div>
            <div class="checkbox-container">
              <input type=checkbox name=model value='AlexNet' id="cb6"> 
              <label for="cb6">AlexNet</label>
            </div>
        </div>
        </div><br><br><br> 
        <div class="sub-main">
          <button class="button-two"><span>Submit</span></button>
        </div>
      </form>
    </div>
{% endblock %}