{% extends 'base.html' %}

{% block title %}
Index
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}  
         {% if messages %} 
         <br><br><br>
            <div class="container"> 
               {% for message in messages %}  
                  <div class="alert alert-warning alert-dismissible" align="center">
                    <strong>Warning! </strong> {{message}}!
                    <a href="/" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  </div>
               {% endfor %}
            </div>
         {% endif %}  
      {% endwith %} 


    <title>Lung Disease Detection</title>
  </head>
  <body>
    <h2 style="text-align:center">Lung Disease Detection</h2><br><br><br><br><br>
    <div class="text-center">
      <form class="inputForm" action = '/', method=post enctype=multipart/form-data>
        <h4>Upload new File</h4><br>
        <div class="container" align="center">
        <div class="upload" align="center">
          <input class="form-control" id="formFileLg" type=file name=file required><br>
          <!-- <input class="btn btn-primary mt-3" type=submit value="Submit"> -->
        </div></div><br><br><br>


        <h4>Select one or more models for prediction</h4>
        <div class="container" align="center">
        <div class="Models required" align="center" style="font-size: 20px;">
          <input type=checkbox name=model value='MobileNet'> MobileNet <br/>
          <input type=checkbox name=model value='ResNet50'> ResNet50 <br/>
          <input type=checkbox name=model value='InceptionNetV3'> InceptionNetV3 <br/>
          <input type=checkbox name=model value='InceptionResNetV2'> InceptionResNetV2 <br/>
          <input type=checkbox name=model value='VGG16'> VGG16 <br/>
          <input type=checkbox name=model value='AlexNet'> AlexNet <br/>
        </div><br><br><br> 
        <input class="btn btn-primary btn-lg" type="submit" value="Upload and Submit">
      </form>
    </div>
{% endblock %}